---
---
// Importa el tema original para no perder los demás estilos
@import "{{ site.theme }}";


.wrapper {
    width: 760;
    margin: 20px auto;
}

header {
    left: 150px;
}

section {
    width: 800px;
    left: 450px;
}

footer {
    left: 160px;
}

